.wrapper{
    margin : 5% 10%;
    border: 2px ridge;
    padding: 5% 1% 1% 1%;
}

.checkbox{
    margin-top : 20px;
    margin-left : 10px;
}

.error {
    color : red;
}

.inputs{
    margin-left : 150px;
}